* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif ;
}
.upper {
    text-transform: uppercase;
}
/*头部*/
.header {
    width: 100%;
    height: 1000px;
    text-align: center;
    color: #fff;
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
}
.header h1 {
    position: relative;
    top: 200px;
    font-size: 62px;
}
.header>p {
    display: block;
    position: relative;
    margin: 350px auto 0;  /*水平居中*/
    width: 750px;
    height: 150px;
    font-size: 20px;
}
.register {
    display: block;
    margin: 100px auto 0;
    width: 970px;
    height: 250px;
    border: 1px solid rgb(85,83,81);
}
.register h2 {
    margin-top: 60px;
    font-size: 16px;
}
.register h3 {
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.3;
}
.register form {
    margin-top:50px;
}
.register input {
    margin-right:30px;
    padding-left:20px;
    border:1px solid rgb(80,80,80);
    height:50px;
    width:300px;
    font-size:14px;
    color:#fff;
    background:rgb(85,83,81,0);
}
.register label {
    display: inline-block;
    width:125px;
    height:50px;
    font-size:12px;
    line-height:55px;
    color:#000;
    background:#fff;
}
/*特征介绍*/
.features>p {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
}
.ftitle {
    display: block;
    margin: 40px auto 85px;
    width: 670px;
    height: 90px;
    font-size: 42px;
    text-align: center;
}
.features .finfo {
    display: flex;
    flex-wrap: wrap;
    margin:100px 0 110px 100px;
}
.features .box1,
.features .box2,
.features .box3,
.features .box4 {
    width: 425px;
    height: 100px;
}
.features .box1,
.features .box2 {
    margin-bottom: 80px;
}
.features .box2,
.features .box4 {
    margin-left: 195px;
}
.features img {
    float: left;
    margin-right: 30px;
}
.features h3 {
    margin: 0 0 30px 75px;
    font-size: 20px;
}
.finfo span {
    display: block;
    margin-left: 75px;
    width: 360px;
    font-size: 16px;
    line-height: 30px;
}
/*资料和支持*/
.support {
    height:800px;
    color: #fff;
    background-image: url('../images/bg2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.support .content {
    margin-left: 150px;
}
.support h1 {
    padding-top: 125px;
    width: 420px;
    font-size: 42px;
}
.content span {
    display: block;
    margin-top: 35px;
    width: 370px;
    font-size: 18px;
}
.support button {
    margin-top: 45px;
    width: 240px;
    height: 60px;
    border: 1px solid rgb(80,80,80);
}
.support .try {
    margin-left: 30px;
    color: #fff;
    background: rgb(80,80,80,0);
}
/*介绍*/
.try h1 {
    font-size: 42px;
    text-align: center;
}
.try .tinfo {
    display: flex;
    margin-top:90px;
    border-bottom: 1px solid rgb(231,231,231);
    text-align: center;
}
.try .box {
    max-width: 265px;
    margin: auto;
    padding-bottom: 80px;
}
.try .tinfo img{
    display:block;
    margin:auto;
    margin-bottom:45px;
}
.try .info span{
    font-size:16px;
}
/*含图片的介绍*/
.introduce {
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(231,231,231);
}
.introduce img {
    width: 575px;
    height: 355px;
}
.introduce h2 {
    font-size: 20px;
}
.introduce span{
    display: block;
    margin-top:30px;
    font-size: 16px;
}
.introduce .box1 {
    display: flex;
    margin-top: 115px;
}
.introduce .box1 img {
    margin-left: 80px;
}
.introduce .box1_info {
    width: 310px;
    margin: 75px 0 0 100px;
}
.introduce .box2 {
    display: flex;
    margin-top: 80px;
}
.introduce .box2_info {
    width: 330px;
    margin: 65px 100px 0 80px;
}
/*导师介绍*/
.crew {
    border-bottom:1px solid rgb(231,231,231);
}
.crew h1 {
    margin-top: 100px;
    font-size: 42px;
    text-align: center;
}
.crew span {
    display: block;
    margin: 40px auto 0;
    width: 710px;
    text-align: center;
    font-size: 18px;
}
.crew .box {
    display: flex;
    flex-wrap: wrap;
    width: 970px;
    height: 710px;
    margin: 65px 100px 100px;
}
.crew .main h4 {
    margin-top: 110px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.crew .main p {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

.crew .main img {
    width: 58px;
    height: 58px;
    margin: 35px 20px;
}
.crew .team {
    position: relative;
    overflow: hidden;
    margin: 0 15px 30px 0;
    width: 470px;
    height: 340px;
}
.crew .team:hover .main {
    display: block;
    cursor: pointer;
    text-align: center;
}
.crew .main {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 470px;
    height: 340px;
    background: rgba(0,0,0, 0.6);
}
.crew .main a {
    text-decoration: none;
}
/*联系*/
.contact {
    display: flex;
    margin-top: 70px;
}
.write {
    width: 470px;
    height: 560px;
    border: 1px solid rgb(231,231,231);
    border-radius: 10px;
    margin: 0 135px 0 100px;
}
.write p {
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 16px;
}
.write input[name="email"],
input[name="subject"],
textarea {
    display: block;
    width: 370px;
    height: 50px;
    margin: 0 auto 30px;
    padding-left: 20px;
    box-sizing: border-box;
}
.write textarea {
    height: 145px;
    padding-top: 20px;
}
.write input[name="sub"] {
    display: block;
    width: 370px;
    height: 50px;
    border: none;
    margin: 0 auto;
    background: rgb(20,20,20);
    color: #fff;
}
.contacts h2 {
    margin: 85px 0 40px 0;
    font-size: 42px;
}
.contacts span {
    display: block;
    width: 355px;
    font-size: 16px;
    line-height: 25px;
}
.contacts .info {
    margin-top: 75px;
}
.contacts .box {
    width: 270px;
    font-size: 16px;
    margin-bottom: 35px;
}
.contacts img {
    float:left;
    margin-right:20px;
}
/*尾部*/
.footer {
    display: flex;
    width: 100%;
    height: 410px;
    margin-top: 70px;
    background: rgb(20,20,20);
    color: #fff;
}
.footer ul {
    margin: 85px 130px 0 0;
    max-width: 270px;
}
.footer li {
    margin-bottom: 35px;
    list-style-type: none;
}
.footer a {
    text-decoration: none;
    color: #fff;
    opacity:  0.3;
}
.footer .first {
    margin-left: 100px;
}
