body{
    margin:0;
}
div {
	border-bottom: 1px solid #848484; 
	height: 140px;
}
h1{
    color:white;
    padding:10px 25px;
    margin:0;
    background:rgb(113, 116, 126);
}
h2{
    float:left;
    background:rgb(179, 180, 185);
    height:140px;
    width:140px;
    margin:0 20px 0 0;
    text-align:center;
    line-height:140px;
    border-bottom:1px solid rgb(215, 215, 224);
}
span{
    float:left;
    margin-top:20px;
    padding-right:50px;
}
p{
    display:inline;
}
