body{
    margin:0;
}
h1{
    float:left;
    background:rgb(109, 135, 223);
    width:200px;
    height:780px;
    margin-right:30px;
    margin-top:0;
    padding-top:50px;
    text-align:center;
}
h1+div h2{
    margin-top: 0;
    padding-top:20px;
  }
span{
    padding-right:50px;
}
#capacity span{
    padding:0;
}
#education span{
    padding:0;
}
#project span{
    padding:0;
}
br{
    display:none;
}
